@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
img{
    margin:0;
    padding: 0;
}
.Hero{
    margin-bottom: $mobile-padding-seperate;

    &__heading{
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 10px;
        @include tablet{
            font-size:3rem;
           
        }
    }

    &__wrapper{
        margin: 3rem $mobile-padding-sides;
    }
   &__motto{
   color:rgb(111, 108, 108);
   font-size: 1.5rem;
   font-weight: 100;
   justify-self: center;
 
   display: flex;
   &--first{
    justify-self: center;
   }
   &--second{
    font-size: 1.2rem;
   }
   @include tablet{
    font-size:1.9rem;
    margin-left: 6rem;
    width: 60%;
    justify-self: center;
    &--second{
        font-size: 1.2rem;
       }
  
   }
   @include desktop{
    width:50%;
    margin-left:10rem;
   }
   

  
   }

    
    &__TopWrapper{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 1.5rem 1rem;
    }
    &__itemButton{
        border-radius: 2rem;
        color: white;
        font-size: 1rem;
        width:19vw;
        :hover{
            cursor: pointer;
        }
        
    }
    &__itemTop{
        border-radius: 2rem;
        padding: 0.5rem;
        text-align: center;
        &::placeholder{
            font-size: 1rem;
        }
      

       
        &--explore{
            color: black;
            background-color: white;
            border: 1px solid grey;
            padding: 0.9rem 3.5rem;
            font-weight:bold;
            font-size: 1rem;
        

        }
        &--create{ 
            background-color: black;
            
         
        }
       

        
    }
    &__circle{
        padding:1rem;
        height: 1rem;
        border-radius: 2rem;
        background-color: #c9a669;
        border: 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);

   
    }
    &__circleOutline{
        padding:0.8rem;
        height: 1rem;
        border-radius: 2rem;
        border: 3px solid  #c9a669;
        background-color: white;
        position: absolute;
        margin-top: 0.2rem;
       
        
    }
    &__itemBottom{
        border-radius: 2rem;
        padding: 0.9rem 3.5rem;
        width: 40vw;
        text-align: center;
        border: 1px solid grey;
        
   
       
        &::placeholder{
            color: lightgrey;
            font-size: 1rem;
        }
    }
    &__bottomWrapper{
        display: flex;
        justify-content: center;
        gap: 1rem;
      
        
    }
   
 

    
}
.stash{
    display: flex;
    border-bottom: 1.5px solid grey;
    padding-bottom: 2rem;
    justify-content: center;
    position:relative;
    margin-top: 3rem;
    
    &__wrapper{
        border-radius: 2rem;
       width: 50vw;
        position: relative;
    display: flex;
    flex-direction: column;
    @include tablet{
        width: 30vw;
    }
    @include desktop{
        width: 25vw;
    }
    &--first{
        display:none;
        @include tablet{
            height: 65vh;
            left: 4%;
            top: 2.0rem;
            display: initial;
        }
       
        
    }
    &--second{
       
        height: 70vh;
        z-index: 2;
        position: relative;
        
        @include tablet{
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.2);

        }
    }
    &--third{
        display:none;
        @include tablet{
            height: 65vh;
            right: 4%;
            z-index: 1;
            top: 2.0rem;
            display: initial;
        }
       
    }
  
    
}
    &__top{
        
        height:35vh;
        border-radius: 2rem 2rem 0 0;
        position:relative;
       

        &--first{
          
           
            background-image: url('../../assets/images/Pictures/96d43f33a4.jpg');
            background-size: cover;
     
           
             
        }
        &--second{
                  
            background-image: url('../../assets/images/Pictures/45661e44bf.jpg');
            background-size: cover;
            position:relative;
           
      

        }
        &--third{
            background-image: url('../../assets/images/Pictures/0182427745.jpg');
            background-size: cover;
        }
    }
    
    &__bottom{
        border-radius: 1rem 1rem 2rem 2rem;
        position:absolute;
        left: 0;
        right: 0;
        top: 45%;
       
      
    }
    &__bottom--first{
        height: 50%;
        background-color: #274e64; 
    }
    &__bottom--second{
        height: 55%;

        background-color:rgb(89, 2, 2);
    }
    &__bottom--third{
        height: 50%;
        background-color:rgb(19, 134, 19);
    }
}





