@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.businessCard{
    
    width:100%;
     color:lightgrey;
     margin:  2rem 0;
   

     @include tablet{
     
    

     }
     &--maroon {
      @include applyCardColor($primary-color-maroon);
    
    
    }
  
    &--green {
      @include applyCardColor($primary-color-green)
    
    }
    &--blue {
      @include applyCardColor($primary-color-blue)
   

    }
    
    &__wrapper{
     
      width:80%;
      display: flex;
     justify-self:center;
    @include tablet{
      width: 50%;
   
    }
    @include desktop{
     
      width: 30%;
     
     
      
    }
   
    }
    
     
     
  

    @include tablet{
      width: 40vw;
     }

     @include tablet{
      width: 30vw;
     }

    &__wrapper{
        display: flex;
        justify-content: center;
        
    }
  
    &__top{
 
      padding: 1.5rem 2rem;
       border-bottom:none;
 
       background: linear-gradient(to bottom, white 20% , grey);
       border-radius: 0.5rem;
       display:flex;
       justify-content: flex-end;
       background-image: url('../../assets/images/Pictures/76192288ed.jpg');
       background-size: cover;
      
       height: 45vh;
       @include tablet{
        height: 35vh;
       }
       @include desktop{
        height: 40vh;
       }
  
    
   
}
    &__bottom{
        border-radius: 2rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        top: -1.2rem;
        padding: 0.5rem 1rem;
       
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
        min-height: 30vh;
        @include tablet{
          min-height: 40vh;
        }
        
      
    }
    &__starWrapper{
      display: flex;
      justify-content: flex-end;
    }
    &__star{
      width: 1.5rem;
      height: 1.5rem;
      
    }
    &__starValue{
      font-size: 1.2rem;
      font-weight: 700;
    }

    &__detail{
        margin: 0;
     
    }
    &__verified-icon{
   
      width: 20px; 
      height: 20px; 
    }
    &__category{
      font-size: 1rem;
    }
    &__logoWrapper{
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
    }
    &__logo{
        width: 1.5rem;
        height:1.5rem;
    }
    &__profileWrapper{
      display:flex;
      flex-direction:column;
      align-items: center;
   
    }
    &__name{
        margin-bottom:0;
        font-weight: bold;
        font-size: 1.5rem;
        white-space: nowrap;
    }
    &__detail{
      display: inline-block;
    }
    &__location{
      font-size: 0.85rem;
    }
    &__socials{
      display:flex;
      justify-content: space-between;
      margin-top: 1rem;
      display:none;
      &--mobile{
        display: flex;
      }
     
    }
    &__profile{
      display:flex;
      justify-content: space-between;
      @include tablet{
        justify-content: space-around;
      }
    }
    &__AddShare{
      display:flex;
      gap:0.5rem;
    }
    &__profileButton{
      background-color: rgb(121, 22, 22);
      border: 0;
     
      border-radius: 1rem;
      border: 2px solid lightgrey;
      color: lightgrey;
      display:flex;
      justify-self: center;
      &--Mobile{
        @include tablet{
          display:none;
        }
      }
      &--Desktop{
        display:none;
        border: 2px solid lightgrey;
        font-size: 1.2rem;
        padding: 0.5rem;
        @include tablet{
          display: initial;
          font-size: 1.0rem;
        }
      }
    }
    &__eyeIcon{
      width:2rem;
      height:2rem;
    }
    &__social{
      width:2rem;
      height:2rem;
    }
    &__services{
      display: flex;
      gap: 0.5rem;
      margin: 1rem 0;
      border-bottom: 2px solid lightgrey;
      border-bottom: 2px solid lightgrey;
      padding-bottom:0.5rem;
      padding-left:0;
      flex-wrap:wrap;
      font-size: 0.9rem;
      @include tablet{
        font-size: 1rem;
       flex-direction: column;
      }
    }
    &__servicesItem{
      background-color: white;
      padding: 0 0.4rem;
      border-radius:0.9rem;
      &--number{
       border: 2px solid black;
       display:flex;
      }
    }
}
.example{
  margin:20rem;
}

