@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;

.Footer {
    // background-color: $secondary-color-darkblue;// Navy Blue
    // color: #FFFFFF;
    padding: 2rem 1.5rem;
    font-family: Arial, sans-serif;
    border-top: 3px solid $primary-color-peach;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__brand {
        flex: 1 1 300px;

        &__title {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: #FF8C00 ;// Orange
        }

        &__description {
            font-size: 0.9rem;
            line-height: 1.6;
        }
    }

    &__links, &__contact {
        flex: 1 1 200px;

        &__heading {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &__list {
            list-style: none;
            padding: 0;

            &__link {
                color: #FF8C00; // Orange
                text-decoration: none;
                font-size: 0.9rem;
                transition: color 0.3s;

                &:hover {
                    color: #FFD700; // Lighter Yellow
                }
            }

            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    &__bottom {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }
}
