@use "variables" as *;

@mixin tablet{
    @media screen and (min-width: $tablet-breakpoint)
    {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: $desktop-breakpoint)
    {
        @content;
    }
}

@mixin applyCardColor($color) {
    .businessCard__wrapper:hover{
        
            background-color: $color;
          
    }
    .businessCard__bottom {
      background-color: $color;
    }
  
    .businessCard__logoWrapper {
      background-color: $color;
    }
  
    .businessCard__servicesItem {
      color: $color;
    }
  
    .businessCard__profileButton {
      background-color: $color; 
    }
  
    
  
  
  }
  