$tablet-breakpoint : 768px;
$desktop-breakpoint : 1280px;






$mobile-padding-sides: 1.5rem;
$mobile-padding-seperate: 1rem;
$tablet-padding-sides: 2rem;
$tablet-padding-seperate:1.5rem;
$desktop-padding-sides: 3rem;
$desktop-padding-seperate:2rem;

$primary-color-blue: #274e64; 
$primary-color-maroon: rgb(89, 2, 2);
$primary-color-green: rgb(19, 134, 19);

$secondary-color-blue: #4885a9; 
$secondary-color-maroon: rgb(171, 43, 43);
$secondary-color-green: rgb(90, 193, 90);