@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
.header{



    font-family: "Outfit";
    font-weight: 500;
    margin:0 $mobile-padding-sides;
    padding:  $mobile-padding-seperate 0;
    border-bottom: 1.5px solid grey;

   
    
    @include tablet{
   
    }
   
    &__content{
        display:flex;
        justify-content: space-between;
    }
    &__banner{
        display:flex;
        align-items: center;
        gap: 2.5rem;
    }
    &__search{
    
        border-radius: 2rem;
        padding: 0.5rem;
        border: 2px solid black;
        display:flex;
        flex: 1;
        width: 20vw;
        
    }
    &__search-container{
        display: flex;
        align-items: center;
        
        position:relative;
    }
    &__searchicon{
        padding: 6px;
        border: none;
        background-color:white;
        height:1.8rem;
        color: white;
        cursor: pointer;
        border-radius: 1rem;
        position:absolute;
        right: 0.2rem;
        top:0.2rem;
        
        &:hover {
            background-color: lightgrey;
          }
    }

    &__logo{
      
        margin: 0;
       
        height:2rem;
    
        
        
        // object-fit: cover;
       
  
    }

    &__items{
        
    }
    &__item{
        margin: 0;
        font-weight:300;
    }
 
       

    
  
}