@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
.businessCardList{
&__Item{
        padding: 0;
        @include tablet{
            display:flex;
            flex-wrap: wrap;
           justify-content: space-around;
        }
    }
    &__header{
        width: 100%;
       word-spacing: 0.2rem;
       letter-spacing: 0.2rem;
       font-size: 3rem;
       text-align: center;
       margin:2rem;
    }
}
